.copyright {
  position: absolute;
  bottom: 24px;
  margin: 0;
  padding: 0;
  align-self: center;
  font-size: 14px;
  line-height: 16px;
  color: #323c47;
  opacity: 0.5;
  width: 100%;
  text-align: center;
}
