<div class="home">
  <div class="box-before">
    <div class="topView">
      <img id="banner" class="banner" src="@/assets/banner.png" />
    </div>
    <div class="borrow"></div>
    <div class="how">
      <div class="title">Quy trình</div>
      <div class="step clearfix">
        <div class="stepRow">
          <div class="stepNumber fl">
            <img class="stepImg" src="@/assets/step1.svg" />
            <span class="line"></span>
          </div>
          <div class="stepInfo fl">
            <div class="stepTitle">Hôm nay</div>
            <div class="stepTips borderline">
              Để đăng ký Gmail, hãy tạo tài khoản Google. Bạn có thể sử dụng tên
              người dùng và mật khẩu để đăng nhập vào Gmail và các sản phẩm khác
              của Google
            </div>
          </div>
        </div>
        <div class="stepRow">
          <div class="stepNumber fl">
            <img class="stepImg" src="@/assets/step2.svg" />
            <span class="line"></span>
          </div>
          <div class="stepInfo fl">
            <div class="stepTitle">Ngày mai</div>
            <div class="stepTips borderline">
              Hãy bắt đầu ngày mai ngay từ hôm nay thôi,trong lúc thời gian đang
              cho phép, vì ngoài thời khóa biểu học ở trường, mỗi tuần quỹ thời
              gian bạn có tới 21 buổi
            </div>
          </div>
        </div>
        <div class="stepRow">
          <div class="stepNumber fl">
            <img class="stepImg" src="@/assets/step3.svg" />
          </div>
          <div class="stepInfo fl">
            <div class="stepTitle">Ngày kia</div>
            <div class="stepTips">
              Hạnh Phúc bấy lâu chẳng đậm sâu tiếng yêu kia phai màu nước mắt
              anh roi khi thấy ... Ai đúng ai sai giờ trách nhau được gì vậy ta
              kết thúc ngay từ hôm nay
            </div>
          </div>
        </div>
      </div>
      <span class="moreHelp" @click="moreHelp">Bạn có câu hỏi?</span>
    </div>
  </div>
  <div class="aboutus">
    <span class="title">Về chúng tôi</span>
    <span class="content"
      >Nền tảng công nghệ an toàn giúp người dùng tiếp cận dịch vụ với chi phí
      hợp lý.</span
    >
    <span class="signUpButton" @click="signUp" id="borrow_btn"
      >BẮT ĐẦU NGAY</span
    >
    <Footer></Footer>
  </div>
</div>
